
#schoolhub-mini-calendar-backdrop{
 position:fixed !important;
 inset:0 !important;
 z-index:2147483647 !important;
}
#schoolhub-mini-calendar{
 position:fixed !important;
 left:50% !important;
 top:50% !important;
 transform:translate(-50%,-50%) !important;
 z-index:2147483647 !important;
}
