
#schoolhub-current-plan-team-limit-text.schoolhub-force-hidden,
.schoolhub-force-hidden-team-limit{display:none!important;}
#user-current-plan-box.schoolhub-ultimate-no-plan{border:0!important;background:transparent!important;padding:0!important;color:inherit!important;}
